.reveal .slides section .admonition {
    border-left: 7px solid black;
    position: relative;
    padding-left: 25px;
    padding-top: 60px;
    //margin-left: 75px;

    &:before {
        position: absolute;
        //left: -75px;
        top: 0;
        display: flex;
        align-items: center;
        height: 60px;
        font-size: 0.8em;
    }

    &.note {
        border-left-color: #6093f8;
        &:before {
            color: #6093f8;
            content: '📝 Note';
        }
    }

    &.abstract {
        border-left-color: #6e9dfa;
        &:before {
            color: #6e9dfa;
            content: '📋 Abstract';
        }
    }

    &.tip {
        border-left-color: #33f8d7;
        &:before {
            color: #33f8d7;
            content: '💡 Tip';
        }
    }

    &.info {
        border-left-color: #7cddf6;
        &:before {
            color: #7cddf6;
            content: 'ℹ️ Info';
        }
    }

    &.success {
        border-left-color: #6ffa8e;
        &:before {
            color: #6ffa8e;
            content: '✅ Success';
        }
    }

    &.question {
        border-left-color: #6bf316;
        &:before {
            color: #6bf316;
            content: '? Question';
        }
    }

    &.warning {
        border-left-color: #f9ac65;
        &:before {
            color: #f9ac65;
            content: '⚠️ Warning';
        }
    }

    &.failure {
        border-left-color: #f86262;
        &:before {
            color: #f86262;
            content: '❌ Failure';
        }
    }

    &.danger {
        border-left-color: #fa6178;
        &:before {
            color: #fa6178;
            content: '🔥 Danger';
        }
    }

    &.important {
        border-left-color: #f74c4c;
        &:before {
            color: #f74c4c;
            content: '❗ Important';
        }
    }

    &.bug {
        border-left-color: #f8597e;
        &:before {
            color: #f8597e;
            content: '🐞 Bug';
        }
    }

    &.example {
        border-left-color: #8b61f6;
        &:before {
            color: #8b61f6;
            content: '💻 Example';
        }
    }

    &.quote {
        border-left-color: #808080;
        &:before {
            color: #808080;
            content: '💬 Quote';
        }
    }

    &.custom {
        border-left-color: var(--admonition-bg-color, #808080);
        &:before {
            color: var(--admonition-bg-color, #808080);
            content: attr(data-admonition-icon);
        }
    }
}
