/**
* IMAGE
*
*/

.reveal .slides  section{


    img[alt*=center], .center, .center+*{
        display:block;
        margin:auto;
    }

    .center+img{
        // Hack to fix a problem of with = 0
        max-width: initial;
        max-height: initial; 
    }

    img[alt*=full-width], .full-width, .full-width+*{
        width : 100%;
        max-width: 100%;
    }

    .full-height{
        height:100%;
        max-height: 100%;
    }

    img[alt*=float-left], .float-left {
      float: left;
      margin-right: 40px;
    }

    img[alt*=float-right], .float-right{
      float: right;
      margin-left: 10px;
    }
   
}

/**
* Alignments & Layouts
*/

.reveal .slides section{
    
    &.full-center p, :not(section).full-center {
        position: absolute; 
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &.flex-row p, :not(section).flex-row {
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

}