/**
* Feathers icons
*/

.reveal .slides section{

    svg.feather{
        stroke:var(--icon-color, $sfeir-green);         
        width: var(--icon-size, 24px);
        height: var(--icon-size, 24px);
    }

    svg.feather[alt*=small]{
        width: 12px;
        height: 12px;
    }

    svg.feather[alt*=big]{
        width: 48px;
        height: 48px;
    }
    
}

/**
* Hack for mode instute
*/


.reveal .slides[data-mode-slides=institute] section{
    svg.feather{
        stroke:var(--icon-color, $sfeir-blue);         
    }
}