/**
* Feathers icons
*/

:root {
    --tc-icon-color: var(--sfeir-green);
    --tc-icone-size: 24px;
}

/**
* Hack for mode instute
*/

.reveal .slides[data-theme='institute'] section {
    --tc-icon-color: var(--sfeir-blue);
}
