.with-code-dark,.with-code-bg-dark {
    @import "../../../node_modules/highlight.js/styles/darcula";
}

.reveal .backgrounds div.slide-background.with-code-dark{
    background-color: $code-bg;
}

.reveal .slides section.with-code-dark:not(.sfeir-specific-slide):not(.stack):not([class*=transition]){
    h1, h2{
        color: $white;
    }
}

.reveal .slides section.with-code,
.reveal .slides section.with-code-dark,
.reveal .slides section.with-code-bg-dark{
   
    pre {
        display: block;
        position: relative;
        width: 100%;
        margin: 20px auto;
        text-align: left;
        font-family: monospace;
        line-height: 1.7em;
        word-wrap: break-word;

        code {
            display: block;
            padding: 10px;
            overflow: auto;
            max-height: 600px;
            word-wrap: normal;
            font-size: 0.90em;
            font-family: monospace;
            margin-bottom : 20px;

            span{
                line-height: 1.8em;
            }
        }
    }

    pre.big-code:not(.literal){
        position: relative;
        top: 0;
        code {
            font-size: 1.5em;
            line-height: 2.1em;
        }

        &.alone{
            position: absolute;
            top:20vh;
        }
    }


    &.consolas {
        pre, pre code {
            font-family: "Consolas";
        }
    }

    &.inconsolata {
        pre, pre code {
            font-family: "Inconsolata";
        }
    }

}

.reveal .slides section.with-code-bg-dark{
    pre {
        background-color: $code-bg;
    }
}
