
@import "../utils/custom-properties";

// Generics colors Helpers

$code-bg: #3f3f3f;
$light-grey: #ddd;
$white: white;
$medium-grey: #817c7c;
$black: #434343;
$dark-grey: #2a3244;
$dark-grey-alpha : rgba(61,67,73,0.7);
$red: #e74c3c;

// Define specifics Sfeir colors

$sfeir-pink: #dd3355;
$sfeir-pink-stop-1: #ee0f50ff;
$sfeir-pink-stop-2: #fa8b88ff;
$sfeir-blue: #575eaa;
$sfeir-blue-stop-1: #00b6e5ff;
$sfeir-blue-stop-2: #575eaaff;
$sfeir-green: #0ab580;
$sfeir-green-stop-1: #00bbc5ff;
$sfeir-green-stop-2: #0ab580ff;
$sfeir-orange: #ffaa54;
$sfeir-orange-stop-1: #f9cb9cff;
$sfeir-orange-stop-2: #ffaa54ff;

:root{
    // Generics colors Helpers
    @include useCssVar(--code-bg, $code-bg);
    @include useCssVar(--light-grey, $light-grey);
    @include useCssVar(--white, $white);
    @include useCssVar(--medium-grey, $medium-grey);
    @include useCssVar(--black, $black);
    @include useCssVar(--dark-grey, $dark-grey);
    @include useCssVar(--dark-grey-alpha, $dark-grey-alpha);
    @include useCssVar(--red, $red);

    // Define specifics Sfeir colors

    @include useCssVar(--sfeir-pink, $sfeir-pink);
    @include useCssVar(--sfeir-blue, $sfeir-blue);
    @include useCssVar(--sfeir-green, $sfeir-green);
}