// Generics colors Helpers

:root {
    --code-bg: #3f3f3f;
    --light-grey: #ddd;
    --white: white;
    --medium-grey: #817c7c;
    --black: #1d1d2a;
    --dark-grey: #56566a;
    --dark-grey-alpha: rgba(61, 67, 73, 0.7);
    --red: #e74c3c;

    // Define specifics Sfeir colors

    --sfeir-pink: #dd3355;
    --sfeir-pink-stop-1: #ee0f50ff;
    --sfeir-pink-stop-2: #fa8b88ff;
    --sfeir-blue: #5155f9ff;
    --sfeir-blue-stop-1: #449fe6ff;
    --sfeir-blue-stop-2: #5156faff;
    --sfeir-green: #0ab580;
    --sfeir-green-stop-1: #00bbc5ff;
    --sfeir-green-stop-2: #0ab580ff;
    --sfeir-orange: #ffaa54;
    --sfeir-orange-stop-1: #f9cb9cff;
    --sfeir-orange-stop-2: #ffaa54ff;
    --sfeir-blue-green-stop-1: #316abeff;
    --sfeir-blue-green-stop-2: #48d298ff;
}
