
// Generics colors Helpers


$light-grey: #ddd;
$white: white;
$medium-grey: #817c7c;
$black: #333;
$dark-grey: #3d4349;
$dark-grey-alpha : rgba(61,67,73,0.7);
$red: #e74c3c;

// Define specifics Sfeir colors

$sfeir-orange: #ff0000;
$sfeir-blue: #0b4269;