.reveal .slides section {
    &.exercice:not(.sfeir-specific-slide):not(.stack):not(
            [class*='transition']
        ) {
        width: calc(100% - 25% - 50px);
        left: calc(25% + 50px);
        height: calc(100% - 200px);
        color: var(--dark-grey);
        padding-left: 0;

        h1,
        h2,
        h3 {
            position: relative;
            color: var(--black);
            font-size: 2em;
        }

        h1 {
            margin-top: 145px;
            top: 0;
            left: 0;
            width: 100%;
        }

        h2:first-of-type {
            position: absolute;
            padding: 10px;
            font-weight: 800;
            top: 200px;
            left: -600px;
            transform: translateY(300px) rotate(-90deg);
            color: var(--white);
            font-size: 3em;
            &:after {
                content: initial;
            }
        }

        h3 {
            color: var(--sfeir-green);
            font-size: 1.5em;
            text-align: center;
            bottom: -50px;
            width: 100%;
            left: 0;
        }

        ul,
        ol,
        p {
            text-align: left;
            font-size: 1.2em;
        }
    }
}

/**
* Hack for institute mode
*/
.reveal
    .slides[data-theme='institute']
    section.exercice:not(.sfeir-specific-slide):not(.stack):not(
        [class*='transition']
    )
    h3 {
    color: var(--sfeir-blue);
}

/**
* Hack for print
*/
html.print-pdf {
    .reveal .slides .pdf-page section {
        &.exercice:not(.sfeir-specific-slide):not(.stack):not(
                [class*='transition']
            ) {
            width: calc(100% - 25%) !important;
            left: 25% !important;
            padding-left: 0 !important;
        }
    }
}
