// Montserrat

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/src/fonts/Montserrat-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/src/fonts/Montserrat-ExtraLight.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/src/fonts/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/src/fonts/Montserrat-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/src/fonts/Montserrat-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/src/fonts/Montserrat-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/src/fonts/Montserrat-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

// Consolas

@font-face {
    font-family: 'Consolas';
    src: url('../fonts/src/fonts/Consolas.ttf');
}


@font-face {
    font-family: 'Consolas';
    src: url('../fonts/src/fonts/Consolaz.ttf');
    font-weight: 800;
    font-style: normal;
}

// Inconsolata

@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/src/fonts/Inconsolata-Regular.ttf');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/src/fonts/Inconsolata-Bold.ttf');
    font-weight: 800;
    font-style: normal;
}


.reveal{
	font-family: 'Montserrat', 'Helvetica Neue', Helvetica, 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, sans-serif;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4,
.reveal .slides section.with-code h1, .reveal .slides section.with-code h2{
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, sans-serif;
    font-weight: 600;
}