@font-face {
    font-family: 'sfeir';
    src: url('../fontello-sfeir/font/sfeir.eot?23854124');
    src: url('../fontello-sfeir/font/sfeir.eot?23854124#iefix') format('embedded-opentype'),
         url('../fontello-sfeir/font/sfeir.woff2?23854124') format('woff2'),
         url('../fontello-sfeir/font/sfeir.woff?23854124') format('woff'),
         url('../fontello-sfeir/font/sfeir.ttf?23854124') format('truetype'),
         url('../fontello-sfeir/font/sfeir.svg?23854124#sfeir') format('svg');
    font-weight: normal;
    font-style: normal;
  }