/**
* Globals overrides to change the layout of slides
*/
:root {
    --tc-quote-color: var(--white);
    --tc-credits-color: var(--sfeir-green);
    --tc-quote-bg-color: var(--dark-grey);
    --tc-heading-color: var(--black);
    --tc-heading-title-font-size: 1.5em;
    --tc-heading-sub-title-font-size: 1.15em;
    --tc-heading-other-headings-font-size: 1em;
    --tc-font-size: 1em; // TODO à check ??
    --tc-table-bg: #efefef;
    --tc-table-header-bg: var(--sfeir-green);
    --tc-table-header-color: var(--white);
}

.reveal {
    li::marker {
        color: var(--sfeir-green); /* Change the color */
    }
}

.reveal .slides section.sfeir-basic-slide:not(.stack),
.reveal .slides section.exercice:not(.stack) {
    color: var(--dark-grey);

    h1,
    h2,
    h3 {
        margin-bottom: 100px;
    }

    h1,
    h2,
    h1 ~ h2,
    h2 ~ h3,
    h1 ~ h3 {
        position: relative;
        color: var(--black);
        text-align: left;
    }

    &.blue h1:first-of-type:after,
    &.blue h2:first-of-type:after {
        background-color: var(--sfeir-blue);
    }

    &.green h1:first-of-type:after,
    &.green h2:first-of-type:after {
        background-color: var(--sfeir-green);
    }

    h1 ~ h2:first-of-type:after,
    h2 ~ h3:first-of-type:after,
    h1 ~ h3:first-of-type:after {
        content: initial;
    }
}

/**
* Logo SFEIR 
**/
:root {
    --url-logo-white: url('./images/logo-school-white-3.webp');
    --url-logo-dark: url('./images/logo-school-dark-3.webp');
}

.reveal
    .backgrounds
    > div.slide-background.tc-multiple-columns
    > .slide-background
    .slide-background-content:after,
.reveal
    .backgrounds
    > div.slide-background.tc-multiple-columns
    .slide-background-content:after {
    display: none;
}

.reveal .backgrounds div.slide-background > .slide-background-content:after,
.reveal
    .backgrounds
    > div.slide-background.tc-multiple-columns
    > .slide-background:last-of-type
    .slide-background-content:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 40px;
    right: 140px;
    background-image: var(--url-logo-dark);
    width: 150px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

.reveal
    .backgrounds
    > div.slide-background.tc-multiple-columns
    > .slide-background:last-of-type:is(.contrast-opposite),
.reveal
    .backgrounds
    > .slide-background
    > div.slide-background:is(
        .speaker-slide,
        .first-slide,
        .quote-slide,
        .bg-blur,
        .with-code-dark
    ),
.reveal .backgrounds > div.slide-background[class*='transition'],
.reveal
    .backgrounds
    > .slide-background
    > div.slide-background[class*='transition'] {
    .slide-background-content:after {
        background-image: var(--url-logo-white);
    }
}

/**
* Reset Somes styles
*/

.reveal section img {
    margin: initial;
    background: initial;
    border: initial;
    box-shadow: initial;
}

/**
* Hack for institute mode
**/
.reveal .slides[data-theme='institute'] {
    li::marker {
        color: var(--sfeir-blue); /* Change the color */
    }
    section.quote-slide .credits::before {
        color: var(--sfeir-blue);
    }

    & ~ .backgrounds {
        --url-logo-dark: url('./images/logo-institute-dark.webp');
        --url-logo-white: url('./images/logo-institute-white.webp');
    }
}

.reveal
    .slides[data-theme='institute']
    section:not(.stack):not([class*='transition']),
.reveal
    .slides[data-theme='institute']
    section:not(.stack):not([class*='transition']) {
    thead {
        background-color: var(--sfeir-blue);
    }
}

/**
* Hack for conf Mode
**/
.reveal .slides[data-theme='conf'] ~ .backgrounds {
    .slide-background-content:after {
        display: none;
    }
}

/**
* Hack for print
*/
html.print-pdf {
    .reveal .slides .pdf-page div.slide-background.quote-slide::before {
        content: '';
        position: absolute;
        background: url('./images/quotes.webp');
        background-size: contain;
        filter: brightness(0.25);
        top: 5px;
        left: 5px;
        width: 400px;
        height: 400px;
        color: var(--dark-grey);
    }

    .reveal .slides .pdf-page {
        div.slide-background.tc-multiple-columns
            > .slide-background
            .slide-background-content:after,
        div.slide-background.tc-multiple-columns
            .slide-background-content:after {
            display: none;
        }

        div.slide-background > .slide-background-content:after,
        div.slide-background.tc-multiple-columns
            > .slide-background:last-of-type
            .slide-background-content:after {
            content: '';
            position: absolute;
            bottom: 40px;
            right: 140px;
            background-image: var(--url-logo-dark);
            width: 150px;
            height: 40px;
            background-repeat: no-repeat;
            background-size: contain;
        }

        div.slide-background.tc-multiple-columns
            > .slide-background:last-of-type:is(.contrast-opposite),
        .slide-background
            > div.slide-background:is(
                .speaker-slide,
                .first-slide,
                .quote-slide,
                .bg-blur,
                .with-code-dark
            ),
        div.slide-background[class*='transition'],
        .slide-background > div.slide-background[class*='transition'] {
            .slide-background-content:after {
                background-image: var(--url-logo-white);
            }
        }
    }

    .reveal .slides[data-theme='institute'] .pdf-page {
        --url-logo-dark: url('./images/logo-institute-dark.webp');
        --url-logo-white: url('./images/logo-institute-white.webp');
    }

    .reveal .slides[data-theme='conf'] .pdf-page {
        div.slide-background .slide-background-content:after {
            display: none;
        }
    }
}
