/**
 * Sfeir Override theme for reveal.js.

 * By Jean-François Garreau : jefBinomed
 */


// Default mixins and settings -----------------
@import "../reveal/template/mixins";
@import "../reveal/template/settings";
// ---------------------------------------------

@import "./fonts";
@import "./colors";
@import "../utils/custom-properties";


// Background of the presentation
$backgroundColor: #FFF;

// Primary/body text
$mainFont: 'Poppins', sans-serif;
$mainFontSize: 40px;
$mainColor: $white;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Poppins', Impact, sans-serif;
$headingColor: $white;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 3.77em;
$heading2Size: 2.11em;
$heading3Size: 1.55em;
$heading4Size: 1.00em;

// Links and actions
$linkColor: $black;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: rgba(140, 191, 240, 0.8);
$selectionColor: #fff;

//  Custom Properties

:root{
    // Background of the presentation
    @include useCssVar(--backgroundColor, $backgroundColor);

    // Primary/body text
    @include useCssVar(--mainFont, $mainFont);
    @include useCssVar(--mainFontSize, $mainFontSize);
    @include useCssVar(--mainColor, $mainColor);

    // Vertical spacing between blocks of text
    @include useCssVar(--blockMargin, $blockMargin);

    // Headings
    @include useCssVar(--headingMargin, $headingMargin);
    @include useCssVar(--headingFont, $headingFont);
    @include useCssVar(--headingColor, $headingColor);
    @include useCssVar(--headingLineHeight, $headingLineHeight);
    @include useCssVar(--headingLetterSpacing, $headingLetterSpacing);
    @include useCssVar(--headingTextTransform, $headingTextTransform);
    @include useCssVar(--headingTextShadow, $headingTextShadow);
    @include useCssVar(--headingFontWeight, $headingFontWeight);
    @include useCssVar(--heading1TextShadow, $heading1TextShadow);

    @include useCssVar(--heading1Size, $heading1Size);
    @include useCssVar(--heading2Size, $heading2Size);
    @include useCssVar(--heading3Size, $heading3Size);
    @include useCssVar(--heading4Size, $heading4Size);

    // Links and actions
    @include useCssVar(--linkColor, $linkColor);
    @include useCssVar(--linkColorHover, $linkColorHover);

    // Text selection
    @include useCssVar(--selectionBackgroundColor, $selectionBackgroundColor);
    @include useCssVar(--selectionColor, $selectionColor);
}


// Theme template ------------------------------
@import "../reveal/template/theme";
// ---------------------------------------------