
.reveal  .slides section[data-background].speaker-slide{
    height: 800px; // force a big height to avoid strange operations 
    text-transform: inherit;

    $margin-left: 200px;
    $margin-right: 200px;
    $top-position-speaker: 200px; 
    $width-img-speaker: 400px;

    h1 {
        text-transform: inherit;
        text-align: left;
        font-size: 2em;
        margin-top: $top-position-speaker;
        margin-left: $margin-left;
        font-weight: 600;
    }

    
	h2{
        position: absolute;
        right: $margin-right;
        top: calc(#{$width-img-speaker} + #{$top-position-speaker} + 100px);
        text-transform: inherit;
        text-align: left;
        color: $white;
        font-weight: 800;
        line-height: 1.5em;
        height: 1.5em;
        font-size: 1.3em;
        span{
            padding-right: 15px;
            background: linear-gradient(to right, $sfeir-pink-stop-1, $sfeir-pink-stop-2);
        }
	}

	h3{
        position: absolute;
        text-transform: inherit;
        text-align: left;
        left: $margin-left;
        font-size: 1.2em;
        color : $white;
		margin-bottom: 20px;
    }

    h3:before{
        font-family: 'sfeir';
        content: '\e8c8';
        position: absolute;
        top: 0;
        left: -70px;        
        width: 50px;
        height: 50px;
    }

    h3.icon-first{
        top: calc(#{$top-position-speaker} + 300px);
    }
    h3.icon-second{
        top: calc(#{$top-position-speaker} + 400px);
    }
    h3.icon-third{
        top: calc(#{$top-position-speaker} + 500px);
    }

    h3.icon-twitter:before{
        content: '\ec98';
    }

    h3.icon-mail:before{
        content: '\e8c8';
    }

    h3.icon-rule:before{
        content: '\e81d';
    }
    

    img[alt*=speaker]{
        position: absolute;
        right: calc(#{$margin-right} + 100px);
        top: $top-position-speaker;
        width: $width-img-speaker;
        margin-top: 20px;
        border-radius: $width-img-speaker;
        border-style: solid;
        border-width: 10px;
        border-color: $sfeir-pink;        
    }

    img[alt*=company]{
        position: absolute;
        top: 850px;
        left: 550px;
        max-width:400px;
        max-height:200px;
    }

    img[alt*=badge]{
        position: absolute;
        top: 750px;
        right: 500px;
        max-width:300px;
        max-height:300px;
    }

    // Colors variations

    &.blue {
        img[alt*=speaker]{
            border-color: $sfeir-blue;        
        }

        h2 span{
            background: linear-gradient(to right, $sfeir-blue-stop-1, $sfeir-blue-stop-2);
        }
    }
    
    &.green{
        img[alt*=speaker]{
            border-color: $sfeir-green;        
        }

        h2 span{
            background: linear-gradient(to right, $sfeir-green-stop-1, $sfeir-green-stop-2);
        }
    }

}
