
.reveal  .slides section[data-background].speaker-slide{
    text-transform: inherit;


    h1 {
        text-transform: inherit;
        margin-top: 0;
    }

    $padding-left: 550px;
    
	h2{
        text-transform: inherit;
        text-align: left;
        color: $white;
        font-weight: 800;
        line-height: 2em;
        height: 2em;
        font-size: 1.8em;
        margin-top: 350px;
        padding-left: $padding-left;
		margin-bottom: 20px;
	}

	h3{
        text-transform: inherit;
        text-align: left;
        padding-left: $padding-left;
        font-size: 1.2em;
        color : $white;
		margin-bottom: 20px;
	}

    img[alt*=speaker]{
        position: absolute;
        left: 100px;
        top: 300px;
        width: 400px;
        margin-top: 20px;
        border-radius: 400px;
        border-width: 3px;
        border-color: $sfeir-pink;        
    }

    img[alt*=company]{
        position: absolute;
        top: 300px;
        left: 750px;
        max-width:400px;
        max-height:200px;
    }

    img[alt*=badge]{
        position: absolute;
        top: 400px;
        right: 200px;
        max-width:300px;
        max-height:300px;
    }

}
