//@import 'colors';

@import 'title-slide';
@import 'speaker-slide';
@import 'transition-slides';
@import 'exercice';

.reveal .slides section.bg-blur {
    width: 50%;
    left: 50%;
    text-align: center;
    color: var(--white);
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--white);
    }
}

/**
* Hack for print
*/
html.print-pdf {
    .reveal .slides .pdf-page section.bg-blur {
        width: 50% !important;
        left: 50% !important;
    }
}
