@import "colors";

@mixin bandeau(){
    width:100%;
    height: 3em;
    line-height: 3em;
    background :$dark-grey;
    text-align: left;
    padding-left: 20px;
    color: white;
    @include dropshadow();
}

.reveal .slides section.first-slide{
	position: absolute;	
    color: $black;
    background : $light-grey;

 	h1{
        color:$red;
        margin-top:150px;
        font-size: 2.5em;
        font-weight: 800;
        margin-bottom: 40px;
        
 	}

    h2{
        margin-bottom: 20px;
    }

    h3{
        color:$medium-grey;
    }
}

.reveal  .slides section.who-am-i{
	
	color : white;
	text-align: left;

	h2{
        color: $red;
        font-weight: 800;
        line-height: 2em;
        height: 2em;
        font-size: 2em;
        margin-top: -20px;
		margin-bottom: 20px;
	}

	h3{
        position: absolute;
        left: 350px;
        top: 250px;
		font-size: 1.2em;
        color : $medium-grey;
		margin-bottom: 20px;	
	}

    img[alt*=avatar]{
        position: absolute;
        left: 100px;
        top: 200px;
        width: 200px;
        margin-top: 20px;
        box-shadow: 2px 2px 2px 3px #CCCCCC;
    }

    img[alt*=company_logo]{
        position: absolute;
        top: 480px;
        left: 50px;
        max-width:100px;
        max-height:100px;
    }

    img[alt*=gdg_logo]{
        position: absolute;
        top: 470px;
        left: 200px;
        max-width:100px;
        max-height:100px;
    }

    .twitter{
        position:absolute;
        font-size: 100%;
        top: 430px;
        left: 350px;
    }

    .gplus{
        position:absolute;
        font-size: 100%;
        top: 500px;
        left: 350px;
    }

    .descjf{
        position: absolute;
        color: $black;
        font-size: 100%;
        line-height: 1.5em;
        left: 350px;
        top: 320px;
        width: calc(100% - 350px);
        width: -webkit-calc(100% - 350px);
    }
 
	
}

.reveal  .slides section.last-slide{
	
	text-align: center;
    color: $medium-grey;

    
    .presenter{
        color: $black;
        top:1.5em;
        height:2em;
        line-height:2em;
        font-size:1.2em;
        font-weight:600;
    }
    
    .topic-title{
        color:$red;
        top:0;
        height:1.7em;
        font-size:2em;
        line-height:1.7em;
        font-weight:800;
    }
    
    
    .work-rule{
        top:calc(50% + 150px);
        height:1em;
        font-size:1em;
        line-height:1em;
        font-weight:400;
    }
    
    .email{
        top:calc(50% + 150px + 2em);
        height:1em;
        font-size:1em;
        line-height:1em;
        font-weight:400;
    }
    
    .thank-message{
        top:0em;
        color: $red;
        //bottom:0em;
        height:2em;
        font-size:2.5em;
        line-height:2em;
        font-weight:600;
    }
    
    
    img[alt*=avatar], img.avatar{
        position:absolute;
        width:300px;
        height:300px;
        top:50%;
        left:50%;
        margin-left:-150px;
        margin-top: -150px;
    }

	
}

.reveal .slides section[data-background],
.reveal .slides section[class*="transition"],
.reveal .slides section.transition,
.reveal .slides section.transition-white,
.reveal .slides section.transition-black,{
    background : rgba(0,0,0,0);
}

/*.reveal .slides section[class*="transition"] h1,
.reveal .slides section.transition h1,
.reveal .slides section.transition-white h1,
.reveal .slides section.transition-black h1{

	position: absolute;
	width: 100%;
	height: 1.4em;
	font-size: 2.8em;
	line-height: 1.4em;
	padding-left: 20px;
	background: rgba(0,0,0,0.7);
	color: $red;
	text-align: left;
	top: 10%;

}*/


.reveal .slides section[data-background],
.reveal .slides section[class*="transition"]
.reveal .slides section.transition,
.reveal .slides section.transition-white,
.reveal .slides section.transition-black{
    h1{
        color:$red;
        margin-top:150px;
        font-size: 2.5em;
        font-weight: 800;
        margin-bottom: 40px;
        text-transform: uppercase;
        
    }
    /*h1{
        @include bandeau();
        text-align: left;
        padding-left : 10px;
        font-size: 1.2em;
    }*/
}


.reveal .slides section.transition-black h1{	
    color: $light-grey;

}

.reveal .backgrounds div.slide-background.transition-black{
    background-color:$black; 
}

.reveal .backgrounds div.slide-background.transition[data-background-hash].no-filter::before{
    background-color:rgba(0,0,0,0); 
}

.reveal .backgrounds div.slide-background.transition[data-background-hash*=png]::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*=PNG]::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*=Png]::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*=jpg]::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*=JPG]::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*=Jpg]::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*=jpeg]::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*=JPEG]::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*=Jpeg]::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*=gif]::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*=GIF]::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*=Gif]::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*=svg]::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*=SVG]::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*=Svg]::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*=bmp]::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*=BMP]::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*=Bmp]::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*=webp]::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*=WEBP]::before,
.reveal .backgrounds div.slide-background.transition[data-background-hash*=Webp]::before{
    background-color : $dark-grey-alpha;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
}



/*.reveal .slides section.transition-white h1,
.reveal .slides section.transition-black h1{
	//border-left : 5px solid $dark-grey;
    @include bandeau();
    
}*/

.reveal .slides section.transition-white img[alt*=icon],
.reveal .slides section.transition-black img[alt*=icon],
.reveal .slides section.transition-white img.icon,
.reveal .slides section.transition-black img.icon{
    position: absolute;
    top: 0em;
    left: calc(50% - 75px);
    max-height: 150px;
    max-width: 150px;
}

.reveal .backgrounds div.slide-background.with-code{
    background-color: $code-bg;
}

.reveal .slides section.with-code{

    h1, h2{
        color: $light-grey;
        font-family: monospace;
        font-size: 1.5em;
        font-weight: 600;
        text-align: left;
        padding-left: 25px;
        margin-left: 5px;
    }

    pre {
        display: block;
        position: relative;
        width: 90%;
        margin: 20px auto;
        text-align: left;
        font-family: monospace;
        line-height: 1.4em;
        word-wrap: break-word;
        
        code {
            display: block;
            padding: 10px;
            overflow: auto;
            max-height: 600px;
            word-wrap: normal;
            font-size: 0.70em;
            font-family: monospace;
            margin-bottom : 20px;

            span{
                line-height: 1.5em;
            }
        }
    }

    p.big-code ~ pre:not(.literal){
        position: absolute;
        top: 20vh;
    }

    p.big-code ~ pre:not(.literal) code {
      font-size: 1.5em;
      line-height: 2.1em; 
    }

}

