/**
* First Slide of Sfeir School
*/


.reveal .slides section[data-background].first-slide{
	position: absolute;
    color: $white;
    background : transparent;

    h1, h2, h3 {
        color:$white;
        text-transform: initial;
    }

 	h1{
        margin-bottom:40px;
        margin-top: 20px;
        font-size: 2.5em;
        font-weight: 800;
 	}

    h2{
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    // Management of logo
    div.sfeir-logo{
        position: relative;
        width:500px;
        height: 600px;
        max-width:500px;
        max-height: 600px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        margin: auto;

        &::before{
            color: $black;
            position: absolute;
            content: attr(data-sfeir-techno);
            text-transform: uppercase;
            font-weight: 800;
            top: 280px; 
            left: 0;
            width: 100%;
            text-align: center;
            font-size: 50px;
        }

        &::after{
            content:'';
            position: absolute;
            bottom: 50px;
            width: 100%;
            height: 200px;
            left: 0;
        }
    }

    div.sfeir-logo[data-sfeir-level="1"]:after{
        background: url('../images/star.png');
        background-repeat: no-repeat;
        background-position: 50% 40px;
        background-size: 55px;
    }
    div.sfeir-logo[data-sfeir-level="2"]:after{
        background: url('../images/star.png'), url('../images/star.png');
        background-position: calc(50% - 35px) 40px, calc(50% + 35px) 40px;
        background-repeat: no-repeat;
        background-size: 55px;
    }
    div.sfeir-logo[data-sfeir-level="3"]:after{
        background: url('../images/star.png'), url('../images/star.png'), url('../images/star.png');
        background-position: calc(50% - 35px) 25px, calc(50% + 35px) 25px, 50% 65px;
        background-repeat: no-repeat;
        background-size: 55px;
    }
}

