
.reveal .slides section[class*="transition"],
.reveal .slides section.sfeir-basic-slide[class*="transition"],
.reveal .slides section.sfeir-specific-slide[class*="transition"]{
    background : rgba(0,0,0,0);

    h1{
        color:$white;
        margin: auto;
        margin-top:450px;
        font-size: 3em;
        font-weight: 800;
        margin-bottom: 40px;
        text-transform: initial;
        padding: 30px;
        width: fit-content;
        background: linear-gradient(to right, $sfeir-pink-stop-1, $sfeir-pink-stop-2);
        transform: rotate(-3deg);

    }

    &.blue h1{
        background: linear-gradient(to right, $sfeir-blue-stop-1, $sfeir-blue-stop-2);
    }

    &.green h1{
        background: linear-gradient(to right, $sfeir-green-stop-1, $sfeir-green-stop-2);
    }

    &.bg-blue h1,
    &.bg-green h1,
    &.bg-pink h1 {
        background: none;
    }

    &.underline{ 
        h1 {
            background: initial;
            position: relative;
            transform: initial;

            &:before{
                content: '';
                z-index: -1;
                position: absolute;
                background: $sfeir-pink;
                width: 100%;
                height: 50px;
                left:0;
                bottom:35px;
                transform: rotate(1deg);
            }
        }

        &.green h1:before{
            background: $sfeir-green;
        }
        &.blue h1:before{
            background: $sfeir-blue;
        }
    }

    
    &.left h1{
        margin-left: initial;
        text-align: left;
    }
    
    &.right h1{
        margin-right: initial;
        text-align: right;
    }
    
    &.top h1{
        margin-top: 50px;
    }
    
    &.bottom h1{
        margin-top: 800px;
    }

    &.bg-white:not(h1){
        color: $black;
    }
    
}

.reveal .slides section[class*="transition-left"] h1,
.reveal .slides section.sfeir-basic-slide[class*="transition-left"] h1,
.reveal .slides section.sfeir-specific-slide[class*="transition-left"] h1{
    text-align: left;
    margin-left: initial;
}


.reveal .slides section[class*="transition-right"] h1,
.reveal .slides section.sfeir-basic-slide[class*="transition-right"] h1,
.reveal .slides section.sfeir-specific-slide[class*="transition-right"] h1{
    text-align: right;
    margin-right: initial;
}

.reveal .backgrounds div.slide-background.transition {
    &.bg-white,
    &.bg-blue,
    &.bg-green,
    &.bg-pink{
        
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
   
    &.bg-white:after{
        background:  rgba(255, 255, 255, 0.6);
    }
    &.bg-blue::after{
        background:  rgba(87, 94, 170, 0.6);
    }
    &.bg-green::after{
        background:  rgba(10, 181, 128, 0.6);
    }
    &.bg-pink::after{
        background:  rgba(221, 51, 85, 0.6);
    }
}