
.reveal .slides section[class*="transition"],
.reveal .slides section.sfeir-basic-slide[class*="transition"],
.reveal .slides section.sfeir-specific-slide[class*="transition"]{
    background : rgba(0,0,0,0);

    h1{
        color:$white;
        margin: auto;
        margin-top:450px;
        font-size: 3em;
        font-weight: 800;
        margin-bottom: 40px;
        text-transform: initial;
        padding: 30px;
        width: fit-content;
        background: linear-gradient(to right, $sfeir-pink-stop-1, $sfeir-pink-stop-2);
        transform: rotate(-3deg);

        &.green{
            background: linear-gradient(to right, $sfeir-green-stop-1, $sfeir-green-stop-2);
        }

        &.blue{
            background: linear-gradient(to right, $sfeir-blue-stop-1, $sfeir-blue-stop-2);
        }
    }

    
}

.reveal .slides section[class*="transition-pink"] h1,
.reveal .slides section.sfeir-basic-slide[class*="transition-pink"] h1,
.reveal .slides section.sfeir-specific-slide[class*="transition-pink"] h1{
    color:white;
    font-weight: 600;
}

.reveal .slides section[class*="transition-center"] h1,
.reveal .slides section.sfeir-basic-slide[class*="transition-center"] h1,
.reveal .slides section.sfeir-specific-slide[class*="transition-center"] h1{
    margin-top:450px; 
    text-align: left;
}
